#button-contact-vr {
    position: fixed;
    bottom: 0;
    z-index: 99999;
}
html{
    overflow-x: hidden;
}
@keyframes zoom {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px transparent;
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 transparent;
    }
}
@keyframes phone-vr-circle-fill{
    0% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        -webkit-transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
    }
}
.button-contact {
    position: relative;
    margin-top: -5px;
    .phone-vr {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 90px;
        height: 90px;
        cursor: pointer;
        z-index: 11;
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
    }
    .phone-vr-circle-fill {
        box-shadow: 0 0 0 0 #2196F3;
        background-color: rgba(33, 150, 243, 0.7);
        width: 65px;
        height: 65px;
        top: 12px;
        left: 12px;
        position: absolute;
        border-radius: 50%;
        border: 2px solid transparent;
        -webkit-animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
        animation: phone-vr-circle-fill 2.3s infinite ease-in-out;
        transition: all .5s;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        -webkit-animuiion: zoom 1.3s infinite;
        animation: zoom 1.3s infinite;
    }
    .phone-vr-img-circle {
        background-color: #2196F3;
        width: 40px;
        height: 40px;
        line-height: 40px;
        top: 25px;
        left: 25px;
        position: absolute;
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
        animation: phone-vr-circle-fill 1s infinite ease-in-out;
        a {
            display: block;
            line-height: 37px;
        }
        img {
            max-height: 25px;
            max-width: 27px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
        }
    }
}
.ReactQueryDevtools {
    display: none !important;
  }