* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    font-family: Montserrat,sans-serif!important;
}
  
table > :not(caption) > * > *{
    background-color: unset !important;
    color: unset !important;
}
:root {
    --height-header: 68px;
    --height-sub-header: 56px;
    --main-color: #f37021;
    --sub-color: #FBE9E7;
    --white: white;
    --black: #000;
    --height-input-on-search: 40px;
}
.manager-box {
    .chart1, .chart2{
        height: 200px;
    }
    .chart3, .chart4{
        height: 300px;
    }
}
@media screen and (max-width: 768px){
    .manager-box, .update-product-page, .create-product-form, .order-detail-page{
        padding: 0 10px;
    }
    .manager-box {
        .chart1, .chart2, .chart3, .chart4{
            height: auto;
        }
    }
}